# Disable Screen Timeout
xset s off -dpms &

# Nvidia
nvidia-settings --load-config-only &

# Network Applet
nm-applet &

# Japanese Input
fcitx &
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefaultIMModule=fcitx

# Pulseaudio Applet
pasystray &

# Restore Wallpaper
nitrogen --restore &

# Compton
picom -bcCf &

# Mount Disk Notification
udiskie -ans &

# Startup Sound
sleep 2 && aplay .startupsound/psp_boot_sound.wav &
